<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">CANCHETA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">COMPLEJO <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'contacto' %}">CONTACTO <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">COLONIA <span class="sr-only">(current)</span></a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'turnos' %}">TURNOS <span class="sr-only">(current)</span></a>
        </li>
        {% endif %}
        
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                  Canchas
              </a>
              <div class="dropdown-menu">
                  <a class="dropdown-item" href="futbol5.html">Futbol 5</a>
                  <a class="dropdown-item" href="paddle.html">Paddle</a>
                  <a class="dropdown-item" href="tenis.html">Tenis</a>
              </div>
          </li>
      </ul>

      {% if user.is_authenticated %}
          
          <p>BIENVENIDO  {{ user.nombre }}</p>
          &nbsp;
          <a href="{% url 'logout' %}">
              <button class="" type="submit">Cerrar sesión</button>
          </a>
      {% else %}
          <a href="{% url 'login' %}">
              <button class="inicio" type="submit">Iniciar Sesión</button>
          </a>
          &nbsp;
          <a href="{% url 'registro' %}">
              <button class="registro" type="submit">Registro</button>
          </a>
      {% endif %}
  </div>
</nav>
